<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluebud.liteguardian_hk">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SMS" />-->
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Global Dialog -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /><!--8.0及以上添加-->

    <!-- Copy from ZXing -->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />&lt;!&ndash;拨打电话权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_CALL_LOG" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- End of ZXing copy. -->


    <!-- Copy from BaiDu -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" />--><!--00000-->
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" />
     <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
     <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
     <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <!-- <uses-permission android:name="android.permission.READ_LOGS" />-->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 来电消音 -->
    <!--<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- End of BaiDu copy. -->

    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- sms sdk -->
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- google map -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
     <uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" />--><!--0000-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--<uses-permission android:name="android.permission.WRITE_CONTACTS" />--><!-- 0000-->
    <!--<uses-permission android:name="android.permission.WRITE_CALL_LOG" />-->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <!-- <uses-permission android:name="android.permission.READ_CALENDAR" />--><!--0000000-->
    <!--<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />-->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--<uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />-->


    <uses-permission android:name="com.redbend.client.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.redbend.permission.EVENT_INTENT" />


    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!--基站-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!--前台服务权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.bluebud.app.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/FullScreen">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--百度地图key-->
        <!--<meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_key" />-->
        <!--谷歌地图key-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_key" />
        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/gaode_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_key" />

        <!--融云的key-->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="@string/rongIM_key" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_scheme" />
            </intent-filter>
        </activity>
        <!--+++++++++++++++++++++++++++++++++++++++++++++++++-->

        <activity
            android:name="com.bluebud.activity.PageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="htdzrun" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bluebud.activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.bluebud.activity.BindListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- <activity
             android:name="com.bluebud.activity.PetTrackActivity"
             android:windowSoftInputMode="stateHidden|adjustResize" />
         <activity
             android:name="com.bluebud.activity.PetWalkActivity"
             android:windowSoftInputMode="stateHidden|adjustResize" />
         <activity
             android:name="com.bluebud.activity.petWalkGoogleActivity"
             android:windowSoftInputMode="stateHidden|adjustResize" />
         <activity
             android:name="com.bluebud.activity.petWalkRecordingDetailGoogleActivity"
             android:windowSoftInputMode="stateHidden|adjustResize" />
         <activity
             android:name="com.bluebud.activity.PetTrackGoogleActivity"
             android:windowSoftInputMode="stateHidden|adjustResize" />-->

        <!-- <activity
               android:name="com.bluebud.activity.DeviceScanActivity"
               android:configChanges="orientation|screenSize|keyboardHidden"
               android:launchMode="singleTop"
               android:screenOrientation="portrait"
               android:theme="@android:style/Theme.NoTitleBar"></activity>-->


        <!-- <activity
             android:name="com.bluebud.activity.CarTrackGoogleActivity"
             android:windowSoftInputMode="stateHidden|adjustResize" />
         <activity android:name="com.bluebud.activity.settings.PayWayActivity" />
         <activity
             android:name="com.bluebud.activity.CarTrackActivity"
             android:windowSoftInputMode="stateHidden|adjustResize" />-->
        <activity
            android:name="com.bluebud.activity.BindActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bluebud.activity.ChangeDeviceManagementActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.bluebud.activity.DeviceManagement"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- <activity
             android:name="com.bluebud.activity.WisdomSeoretaryActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar"
             android:windowSoftInputMode="stateHidden|adjustResize" />-->
        <activity android:name="com.dtr.barcode.core.CaptureActivity1" />

        <activity
            android:name="com.bluebud.activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.bluebud.activity.settings.ForgetPassWdActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.settings.MailBoxForgetPassWdActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- <activity
             android:name="com.bluebud.activity.settings.SportActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar"
             android:windowSoftInputMode="stateHidden|adjustResize" />-->
        <activity
            android:name="com.bluebud.activity.settings.targetSettingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- <activity
             android:name="com.bluebud.activity.settings.HeartRateActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar"
             android:windowSoftInputMode="stateHidden|adjustResize" />-->
        <activity
            android:name="com.bluebud.activity.settings.SleepActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--  <activity
              android:name="com.bluebud.activity.FenceSetting"
              android:screenOrientation="portrait"
              android:theme="@android:style/Theme.NoTitleBar"
              android:windowSoftInputMode="stateHidden" />-->
        <!-- <activity
             android:name="com.bluebud.activity.FenceSettingOnMap"
             android:windowSoftInputMode="stateHidden" />
         <activity
             android:name="com.bluebud.activity.FenceSettingOnGoogleMap"
             android:windowSoftInputMode="stateHidden" />-->
        <activity
            android:name="com.bluebud.activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.bluebud.activity.FacebookBindUserActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.bluebud.activity.settings.AuthActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.bluebud.activity.settings.OverSpeedActivity" />

        <activity
            android:name="com.bluebud.activity.AuthorizedUserActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--<activity
            android:name="com.mtk.app.notification.NotificationAppListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />-->

        <activity android:name="com.bluebud.activity.settings.SettingActivity" />

        <!-- <activity
             android:name="com.bluebud.activity.settings.MineActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" />-->
        <!--<activity android:name="com.bluebud.activity.AlarmActivity" />

        <activity android:name="com.bluebud.activity.AlarmDetailActivity" />
        <activity android:name="com.bluebud.activity.PeripherDetailBaiduActivity" />-->


        <!-- <activity android:name="com.bluebud.activity.PeripherDetailBaiduTotalActivity" />-->
        <activity android:name="com.bluebud.activity.PeripherDetailGoogleActivity" />
        <activity android:name="com.bluebud.activity.settings.TimePositionActivity" />
        <!-- <activity android:name="com.bluebud.activity.settings.MapSwatchActivity" />-->
        <activity
            android:name="com.bluebud.activity.settings.TrackerEditActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.bluebud.activity.settings.ChangePassWdActivity" />
        <activity
            android:name="com.bluebud.activity.settings.WifiSettingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.bluebud.activity.settings.PasswdUpdateActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.bluebud.activity.settings.CheckUpdateActivity" />
        <activity android:name="com.bluebud.activity.settings.HelpActivity" />
        <activity android:name="com.bluebud.activity.PetInsurActivity" />
        <activity android:name="com.bluebud.activity.PetInsurEditActivity" />
        <activity android:name="com.bluebud.activity.InsuranceInformationActivity" />
        <activity android:name="com.bluebud.activity.RegAgreementActivity" />
        <activity
            android:name="com.bluebud.activity.settings.ApnActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.settings.MemberManagementActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.ShoppingActivity"
            android:usesCleartextTraffic="false" />
        <activity
            android:name="com.bluebud.activity.ShoppingActivity1"
            android:usesCleartextTraffic="false" />
        <!-- <activity
             android:name="com.bluebud.activity.MallFirstActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" />-->
        <!--<activity
            android:name="com.bluebud.activity.PeripherActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />-->
        <activity android:name="com.bluebud.activity.settings.WebActivity" />
        <activity android:name="com.bluebud.activity.PetWalkRecordingActivity" />
        <!--<activity android:name="com.bluebud.activity.PetWalkRecordingDetailActivity" />
        <activity android:name="com.bluebud.activity.PeripherDetailActivity" />-->
        <activity android:name="com.bluebud.activity.PeripherDetailGooglePoiActivity" />
        <activity android:name="com.bluebud.activity.PeripherDetailGoogleTotalActivity" />
        <!-- <activity
             android:name="com.bluebud.activity.InsuranceActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar"
             android:usesCleartextTraffic= "false"/>-->
        <!--<activity android:name="com.bluebud.activity.HistoryRouteActivity" />-->
        <activity
            android:name="com.bluebud.activity.settings.UserInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.settings.MoreActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.settings.StepSettingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.settings.FeedbackActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.bluebud.activity.settings.AboutActivity" />
        <activity android:name="com.bluebud.activity.settings.AlarmSwitchActivity" />
        <activity android:name="com.bluebud.activity.settings.InformationCardEditorActivity" />
        <activity android:name="com.bluebud.activity.settings.UseHelpActivity" />

        <!-- <activity android:name="com.bluebud.activity.PoiSearchActivity" />-->
        <activity android:name="com.bluebud.activity.settings.TimeZoneActivity" />
        <activity android:name="com.bluebud.activity.settings.TimeZoneWatchActivity" />
        <!--<activity android:name="com.bluebud.activity.AlarmDetailGoogleActivity" />
        <activity
            android:name="com.bluebud.activity.AlarmGoogleActivity"
            android:launchMode="singleTask" />-->


        <!-- <activity
             android:name="com.bluebud.activity.AlarmReadActivity"
             android:launchMode="singleTask" />-->

        <activity android:name="com.bluebud.activity.settings.AlarmClockActivity" />
        <activity android:name="com.bluebud.activity.settings.AlarmClockAddActivity" />

        <activity
            android:name="com.bluebud.activity.settings.AlarmClockHistoryActivity"
            android:launchMode="singleTask" />

        <activity android:name="com.bluebud.activity.GuideActivity" />
        <!--  <activity
              android:name="com.bluebud.activity.AdvertisementActivity"
              android:screenOrientation="portrait"
              android:theme="@android:style/Theme.NoTitleBar" />-->

        <!--  <activity
              android:name="com.bluebud.activity.BNGuideActivity"
              android:configChanges="orientation|screenSize|keyboard|keyboardHidden"></activity>-->
        <activity
            android:name="com.bluebud.activity.TrackerSearchActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.bluebud.activity.BindWatchActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.BindWatchSIMActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.ObdCarDetectActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--obd图表统计-->
        <activity
            android:name="com.bluebud.obd_optimize.ObdDiagramActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--  <activity
              android:name="com.bluebud.obd_optimize.DriverTestActivity"
              android:screenOrientation="portrait"
              android:theme="@android:style/Theme.NoTitleBar"
              android:windowSoftInputMode="stateHidden|adjustResize" />-->
        <activity
            android:name="com.bluebud.obd_optimize.ObdDriverActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name="com.bluebud.activity.TimeSwitchActivity" />
        <!--<activity
            android:name="com.bluebud.activity.settings.AddThingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />-->
        <activity android:name="com.bluebud.activity.TimeSwitchSetActivity" />
        <activity android:name="com.bluebud.activity.TimeSchoolSwitchSetActivity" />
        <activity android:name="com.bluebud.activity.TimeSchoolSwitchActivity" />

        <activity android:name="com.bluebud.activity.settings.TelephoneBookEditActivity" />

        <activity android:name="com.bluebud.activity.TelephoneBookActivity" />
        <activity android:name="com.bluebud.activity.settings.PhoneBookActivity" />
        <activity android:name="com.bluebud.activity.settings.PhoneBookEditActivity" />

        <!--情景模式-->
        <activity android:name="com.bluebud.activity.settings.SceneryModeActivity" />
        <!--990免打扰-->
        <activity android:name="com.bluebud.activity.settings.DisturbTimeSchoolActivity" />
        <!--990吃药提醒-->
        <activity android:name="com.bluebud.activity.settings.MedicineRemindActivity" />
        <!--吃药提醒设置-->
        <activity android:name="com.bluebud.activity.settings.MedicineSetActivity" />
        <!--综合首页-->
        <!--<activity android:name="com.bluebud.activity.BaiduHomePageActivity" />
        <activity android:name="com.bluebud.activity.GoogleHomePageActivity" />-->

        <!--首页广告-->
        <activity android:name="com.bluebud.activity.AdvertisingPageActivity" />
        <!--加载广告网页-->
        <activity android:name="com.bluebud.activity.settings.AdvertisingWebActivity" />

        <!--远程拍照-->
        <activity android:name="com.bluebud.activity.RemoteTakePhotoActivity" />
        <!--运动计步-->
        <activity android:name="com.bluebud.activity.settings.SportStepActivity" />
        <!--围栏列表-->
        <activity android:name="com.bluebud.activity.FenceSettingListActivity" />
        <!--课程表-->
        <activity android:name="com.bluebud.activity.settings.ClassScheduleActivity" />
        <activity android:name="com.bluebud.activity.settings.ClassScheduleTimerActivity" />
        <activity android:name="com.bluebud.activity.settings.FunctionControlActivity" />

        <!--<activity android:name="com.bluebud.activity.settings.LitefamilyTrackGoogleActivity" />

        <activity android:name="com.bluebud.activity.settings.LitefamilyTrackActivity" />-->

        <activity
            android:name="com.bluebud.activity.MallActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <activity
            android:name="com.bluebud.activity.settings.IMMallActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--<activity
            android:name="com.bluebud.activity.settings.IMMallListActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />-->

        <activity
            android:name="com.bluebud.activity.WatchListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.settings.AlarmClockListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.activity.settings.AddAlarmClockActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- paypal sdk begin -->
        <!-- PayPal支付 -->
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />

        <!-- PayPal支付 -->
        <!-- paypal sdk end -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />


        <!-- 微聊融云配置 -->
        <activity
            android:name="com.bluebud.chat.ChatMemberActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.chat.OperatingGroupActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.bluebud.chat.ChatInfoCardActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name="com.bluebud.chat.ConversationActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.bluebud.liteguardian_hk"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bluebud.chat.ChatInfoCardEditActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.CommonTrackActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.CommonPoiListActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.PoiDetailActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.MapFenceEditActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.MyPetWalkActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.MyCarTrackActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.MyPetWalkDetailActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.HomePageActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.AlarmListActivity"

            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.bluebud.activity.MyAlarmDetailActivity"

            android:theme="@android:style/Theme.NoTitleBar" />

        <!--下载apk服务-->
        <!--<service android:name="com.yaoxiaowen.download.service.DownloadSingleService" />-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bluebud.liteguardian_hk"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 融云自定义广播接收微聊推送消息 -->
        <receiver
            android:name="com.bluebud.chat.listener.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.bluebud.service.EventsService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.allin.android.eventsService" />
            </intent-filter>
        </service>
        <!-- <service
             android:name="com.baidu.location.f"
             android:enabled="true"
             android:process=":remote"></service>-->

        <!--IM消息轮询-->
        <service
            android:name="com.bluebud.service.IMLiteGuardianService"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.ecjia.component.service.IMLiteGuardianService" />
            </intent-filter>
        </service>
        <!-- <service
             android:name="com.bluebud.service.LitemallWebSocketClientService$GrayInnerService"
             android:enabled="true"
             android:exported="false"
             android:process=":gray" />-->
    </application>
</manifest>